{% extends "layout.html.twig" %}

{% block title %}
	{% trans %}Magasins{% endtrans %}
{% endblock  %}
{% block carousel %}{% endblock %}
{% block content %}
	<div class="container-ac">

		<section class="row ">

			<div class="col-sm-10 col-10 col-md-6  row-product  actualite-tit-acr">
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h1 class="actualite-h1">Opticien Krys Carpentras - Atlas</h1>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h4 class='fofo'>17 Rue des Lilas , 77500 Chelles, France
						</h4>
						<p>
							<a href="tel:+33753750622" class="addresse-phone">
								<i class="fas fa-phone fa-addrese"></i>
								{% trans %}Appelez Nous{% endtrans %}
								04 28 69 00 79</a>
						</p>
						<p id="sambre">
							Magasin ouvert de 09:00  jusqu’à 18:00</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-10 col-md-5 row-product">
				<div class="carousel-inner caro-product">
					<div id="item-produit" class="carousel-item active  " class="carousel-item  ">
						<div class="product-image">

							<figure><img class="image-zoom" src="{{ asset ('/image/magasin-2.jpg' ) }}" alt="image de notre magasin de lunette"></figure>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section class="row ">
			<div class="col-sm-10 col-10 col-md-5 row-product">
				<div class="carousel-inner caro-product">
					<div id="item-produit" class="carousel-item active  " class="carousel-item  ">
						<div class="product-image">

							<figure><img class="image-zoom" src="{{ asset ('/image/magasin-3.jpg' ) }}" alt="image de notre magasin de lunette"></figure>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-10 col-10 col-md-6  row-product  actualite-tit-acr">
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h1 class="actualite-h1">Opticien Krys Carpentras - Atlas</h1>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h4 class='fofo'>7 Rue du Quinconce 77200, Torcy , France</h4>
						<p>
							<a href="tel:+33753750622" class="addresse-phone">
								<i class="fas fa-phone fa-addrese"></i>
								{% trans %}Appelez Nous{% endtrans %}
								04 45 13 55 79</a>
						</p>
						<p id="sambre">
							Magasin ouvert de 09:00  jusqu’à 18:00</p>
					</div>
				</div>
			</div>
		</section>
		<section class="row ">

			<div class="col-sm-10 col-10 col-md-6  row-product  actualite-tit-acr">
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h1 class="actualite-h1">Opticien Krys Carpentras - Atlas</h1>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h4 class='fofo'>61b Rue de la Folie Regnault, 75011 Paris, France</h4>
						<p>
							<a href="tel:+33753750622" class="addresse-phone">
								<i class="fas fa-phone fa-addrese"></i>
								{% trans %}Appelez Nous{% endtrans %}
								04 55 87 15 67</a>
						</p>
						<p id="sambre">
							Magasin ouvert de 09:00  jusqu’à 18:00</p>
					</div>
				</div>
			</div>
			<div class="col-sm-10 col-10 col-md-5 row-product">
				<div class="carousel-inner caro-product">
					<div id="item-produit" class="carousel-item active  " class="carousel-item  ">
						<div class="product-image">

							<figure><img class="image-zoom" src="{{ asset ('/image/magasin-4.jpg' ) }}" alt="image de notre magasin de lunette"></figure>
						</div>
					</div>

				</div>
			</div>
		</section>
		<section class="row ">
			<div class="col-sm-10 col-10 col-md-5 row-product">
				<div class="carousel-inner caro-product">
					<div id="item-produit" class="carousel-item active  " class="carousel-item  ">
						<div class="product-image">

							<figure><img class="image-zoom" src="{{ asset ('/image/magasin-1.jpg' ) }}" alt="image de notre magasin de lunette"></figure>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-10 col-10 col-md-6  row-product  actualite-tit-acr">
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h1 class="actualite-h1">Opticien Krys Carpentras - Atlas</h1>
					</div>
				</div>
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<h4 class='fofo'>25 Rue de la Liberté, 93160 Noisy-le-Grand, France</h4>
						<p>
							<a href="tel:+33753750622" class="addresse-phone">
								<i class="fas fa-phone fa-addrese"></i>
								{% trans %}Appelez Nous{% endtrans %}
								04 22 58 34 74</a>
						</p>
						<p id="sambre">
							Magasin ouvert de 09:00  jusqu’à 18:00</p>
					</div>
				</div>
			</div>
		</section>


	</div>

	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12 ">
				<h4 class="actualite-h1">choisissez un magasin à proximité et calculez votre itinéraire</h4>
			</div>
		</div>
	</div>
	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12 mx-auto ">
				<div id="maCarte"></div>
			</div>
		</div>
	</div>
	<!-- Fichiers Javascript -->

{% endblock %}
{% block javascript %}
	<script>
		var villes = {
"Fralun-noisy": {
"lat": 48.827734,
"lon": 2.578548
},
"Fralun-Chelles": {
"lat": 48.8858065,
"lon": 2.6174950999999997
},
"Fralun-torcy": {
"lat": 48.8485718,
"lon": 2.6458763
},
"Fralun-lagny": {
"lat": 48.87296,
"lon": 2.713016
}
};
var tableauMarqueurs = [];

// On initialise la carte
var carte = L.map('maCarte').setView([
48.852969, 2.349903
], 7);

// On charge les "tuiles"
L.tileLayer('https://{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', { // Il est toujours bien de laisser le lien vers la source des données
attribution: 'données © <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
minZoom: 1,
maxZoom: 20
}).addTo(carte);
L.Routing.control({geocoder: L.Control.Geocoder.nominatim()}).addTo(carte)
var marqueurs = L.markerClusterGroup();

// On personnalise le marqueur
var icone = L.icon({
iconUrl: "image/icon.png",
iconSize: [
50, 50
],
iconAnchor: [
25, 50
],
popupAnchor: [0, -50]
})

// On parcourt les différentes villes
for (ville in villes) { // On crée le marqueur et on lui attribue une popup
var marqueur = L.marker([
villes[ville].lat,
villes[ville].lon
], {icon: icone}); // .addTo(carte); Inutile lors de l'utilisation des clusters
marqueur.bindPopup("<p>" + ville + "</p>");
marqueurs.addLayer(marqueur);
// On ajoute le marqueur au groupe

// On ajoute le marqueur au tableau
tableauMarqueurs.push(marqueur);
}
// On regroupe les marqueurs dans un groupe Leaflet
var groupe = new L.featureGroup(tableauMarqueurs);

// On adapte le zoom au groupe
carte.fitBounds(groupe.getBounds().pad(0.5));

carte.addLayer(marqueurs);
	</script>
{% endblock %}
