{% extends "layout.html.twig" %}
{% block title %}
	{% trans %}Politique De Confidentialite{% endtrans %}
{% endblock  %}
{% block content %}
	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12 ">
				<h1 class='display-4 fofo'>{% trans %}Politique De Confidentialite{% endtrans %}</h1>
				<hr>
			</div>
		</div>
	</div>
	<div class="container-fluid padding">
		<p>
			lunetteriegriffa.fr s’engage à respecter et à protéger votre vie privée et la sécurité de vos renseignements personnels conformément aux lois applicables et au règlement général sur la protection des données.</p>
		<br>
		<p>
			Notre politique de confidentialité vous exposera quels renseignements personnels nous collectons, comment nous les recueillons et à quelles fins.</p>
		<br>
		<p>
			La présente Politique de confidentialité a été modifiée le 19-10-2020.</p>
		<br>
		<p>
			Si vous choisissez d’enregistrer un compte, d’acheter un produit de notre catalogue, ou de nous contacter autrement, nous vous demanderons des renseignements personnels vous concernant, ainsi que des renseignements facultatifs concernant votre utilisation</p>
		<br>

		<h2>
			Vos renseignements personnels : Pourquoi nous récoltons vos informations ?</h2>
		<br>
		<p>
			Nous collectons vos renseignements personnels pour échanger avec vous de façon personnelle pour améliorer nos prestations : par exemple en répondant à vos commentaires ou en réglant les réclamations rapidement ; vous communiquer nos développements commerciaux et de nos offres personnalisées ; gérer votre compte pour notre site Web. Mais également vous envoyez des notifications lorsque des changements sont apportés à nos politiques et autres documents (juridiques) qui pourraient vous concerner ; et vous tenir au courant aux obligations légales.</p>
		<h2>
			Les fondements juridiques applicables au traitement de vos renseignements :</h2>
		<br>
		<p>
			Les fondements juridiques correspondants pour le traitement des renseignements personnels aux fins ci-dessus sont :</p>
		<br>
		<p>
			Vous nous avez donné votre consentement pour traiter vos renseignements personnels (par exemple si vous vous êtes inscrit(e) au site ;
								Pour l’exécution d’un contrat avec vous : si vous passez une commande sur notre site Web ;
								Pour d’autres intérêts légitimes que nous poursuivons : stocker des informations supplémentaires pour pouvoir vous identifier lorsque vous perdez l’accès à votre compte ;
								Sur le plan d’obligation légale : notamment au regard de la réglementation fiscale, nous devons donc conserver certaines données sur les clients.</p>
		<h2>
			Comment nous recueillons vos renseignements personnels :</h2>
		<br>
		<p>
			En vous inscrivant à notre site Web ;</p>
		<p>
			En communiquant avec notre centre de service à la clientèle par courriel, téléphone, médias sociaux ou par écrit ;</p>
		<p>
			En participant à une activité sur les médias sociaux liée aux produits en cliquant sur « J’aime » ou « Partager » ;</p>
		<p>
			En demandant à recevoir des messages sur votre téléphone/ordinateur portable ;</p>
		<br>
		<h3>Les cookies :</h3>
		<p>
			Vos données personnelles que nous traitons 
								Nous stockons et utilisons uniquement les informations personnelles que vous nous avez fournies directement ou comme exposé ci-dessus. Nous n’explorerons pas les renseignements personnels à d’autres fins sans votre consentement préalable. Nous pouvons traiter les catégories suivantes de renseignements personnels :</p>

		<p>
			Coordonnées (par exemple, prénom et nom, adresse postale, adresse électronique, numéro de téléphone) ;
								Autres informations personnelles (par exemple sexe, date de naissance (facultatif), nationalité, langue);
								Données financières et de transaction (par exemple, informations sur le compte bancaire, numéro de carte de crédit ou de débit) ;</p>
		<p>
			Détails du compte (par exemple, nom d’utilisateur, mot de passe) ;
								Comment partageons-nous vos renseignements personnels ?</p>
		<h2>
			Nous divulguerons vos renseignements personnels que si cela est requis par la loi, notamment :
		</h2>
		<p>
			Si cela est nécessaire pour prévenir ou combattre la fraude ;
								Si nécessaire pour la résolution de conflits ;
								Ou pour tout autre besoin légitime pressant qui, dans ces circonstances, doit l’emporter sur vos intérêts privés, qui peuvent inclure la sécurité de notre entreprise et la sécurité de notre personnel.
								Une protection de vos renseignements personnels :
								Nous protégeons vos renseignements personnels au moyen de nombreuses mesures de sécurité. Cela passe par le cryptage des données et la restriction de l’accès à vos renseignements personnels.
		</p>
		<h2>
			Communications commerciales : Vos droits</h2>
		<p>
			Nous souhaitons vous envoyer des e-mails ou par d’autres canaux de communication par apport aux services connexes que nous proposons, mais nous ne le ferons que si vous consentez spécifiquement à recevoir de telles communications de notre part.</p>
		<p>
			Vous aurez toujours la possibilité de vous désabonner de toute autre communication de notre part concernant les Produits et services d’InexStart en nous informer de votre choix. Et nous essaierons de vous désabonner dès que possible. Cependant, veuillez noter que si vous vous désabonnez des communications commerciales, nous pouvons toujours vous envoyer des messages administratifs importants, pour lesquels vous ne pouvez pas vous désabonner.</p>
		<br>
		<p>
			Vous pouvez demander à recevoir une copie électronique de vos renseignements personnels afin de les transmettre à une autre société comme le stipule la loi applicable pour les fournir à une autre société. Vous pouvez également réclamer une modification de vos informations personnelles – en nous précisons lesquelles vous souhaitez modifier- ou qu’ils soient supprimés de notre base de données. Pour votre protection, nous pouvons uniquement traiter des demandes concernant les renseignements personnels associés à l’adresse e-mail que vous utilisez pour nous envoyer votre demande, et nous pouvons avoir besoin de vérifier votre identité avant de traiter votre demande. Nous ferons le nécessaire pour traiter votre demande dans les plus brefs délais.</p>
		<br>
		<p>

			A noter : nous pouvons avoir besoin de conserver certaines informations à des fins d’archivage et/ou pour effectuer la fin des transactions que vous aviez commencées avant de demander une modification ou une suppression</p>
		<br>
		<p>
			Rôle des autorités de protection des données
								Si vous avez des plaintes au sujet de la façon dont nous traitons vos renseignements personnels, nous serons ravies de vous aider. Néanmoins, vous avez le droit de déposer une plainte auprès d’une autorité compétente de surveillance dans l’État membre où vous résidez.</p>
	</div>
{% endblock %}
