{% extends "layout.html.twig" %}

{% block title %}
	{% trans %}A Propos De Nous{% endtrans %}
{% endblock  %}
{% block carousel %}{% endblock %}
{% block content %}
	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12 ">
				<h1 class='fofo'>{% trans %}A Propos De Nous{% endtrans %}</h1>

			</div>
		</div>
	</div>
	<div class="page-statique">
		<div class="row ">

			<div class="col-sm-10 col-10 col-md-6  row-product  actualite-tit-acr">

				<div class="row pt-2">
					<div class="col-12 text-center  ">

						<p>
							<strong>TEAMAXE</strong>
							est spécialisé dans la vente des lunettes de mode  depuis 2010 avec aujourd’hui 4 magasins en France . Notre équipe de professionnels, passionnée par les lunettes vous accueille en magasin et sur notre hotline (01 44 09 60 03). Nous vous accompagnons pendant votre achat, le service client est fondamental chez TEAMAXE !
						</p>
						<br>
						<p>
							Retrouvez tous les produits référencés sur www.teamaxe.com dans les 4 magasins TEAMAXE : en île-France. Profitez des conseils avertis de nos vendeurs pour valider votre achat.</p>

						<p>
							<strong>TEAMAXE</strong>
							vous propose des produits de qualité avec plus de 50 partenaires parmi les plus grandes marques
						</p><br>

					</div>
				</div>
			</div>
			<div class="col-sm-10 col-10 col-md-5 row-product">
				<div class="carousel-inner caro-product">
					<div id="item-produit" class="carousel-item active  " class="carousel-item  ">
						<div class="product-image">

							<figure><img class="image-zoom" src="{{ asset ('/image/magasin-2.jpg' ) }}" alt="image de notre magasin de lunette"></figure>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="row ">
			<div class="col-sm-10 col-10 col-md-5 row-product">
				<div class="carousel-inner caro-product">
					<div id="item-produit" class="carousel-item active  " class="carousel-item  ">
						<div class="product-image">

							<figure><img class="image-zoom" src="{{ asset ('/image/magasin-3.jpg' ) }}" alt="image de notre magasin de lunette"></figure>
						</div>
					</div>

				</div>
			</div>
			<div class="col-sm-10 col-10 col-md-6  row-product  actualite-tit-acr">
				<div class="row pt-2">
					<div class="col-12 text-center  ">
						<p>
							Retrouvez notre sélection et nos espaces lunettes dédiés : FASHION/et LIFESTYLE/VINTAGE dans toutes les catégories de produits pour vous
																																																																																																									Nous voulons établir un climat de confiance avec tous nos clients, pour cela chaque adhérent se verra être remboursé de la différence s’il trouve le même produit moins cher chez l’un de nos concurrents. Le client PRIVILEGES bénéficie également des VENTES PRIVEES, de remises exceptionnelles jusqu’à -50% pendant les opérations commerciales, de remises allant jusqu’à 20% sur le Prix TTC public et cela toute l’année ! Demandez tous les avantages et services liées à la carte PRIVILEGES dans nos magasins.</p>
						<br>
						<p>
							Nos marques  vous proposerons les meilleurs prix tout au long de l’année et pendant toutes nos opérations commerciales. Les plus grandes marques sont aussi disponibles tout au long de l'année :
							<strong>
								Reyban, Carerra, Hugo Boss,Tom Ford , Prada</strong>
						</p>

						<p>
							<strong>TEAMAXE.com</strong>
							assure une livraison sous 2 à 5 jours en moyenne pour vous satisfaire. La livraison est gratuite à partir de 80€ d’achat.</p><br>


						<p>
							A bientôt dans nos magasins et sur www.teamaxe.com</p><br>
						<p>
							L’équipe
							<strong>TEAMAXE.com</strong>
							!
						</p>

					</div>
				</div>
			</div>
		</div>

	</div>


</div>{% endblock %}
