<div class="container-mar2">
	<div class="row">
		<div class="col-md-3 col-sm-12 " id="sticky">
			<div class="row">
				{% for marque in marques %}
					<article class="col-md-11 col-sm-6 product-image mb-2  ">

						<div class="">
							<a href="{{path('marque-show', {'id': marque.id})}}">
								<figure><img class="product-marque " src="{{ asset ('/image/mar' ~ marque.id ~'.jpg')}}" alt="{{marque.nomMarque}}"></figure>


							</a>


						</div>
					</article>
				{% endfor %}
			</div>
		</div>
